@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  
  @keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  
  @keyframes bounceOutDown {
    20% {
      transform: translate3d(0, 10px, 0);
    }
  
    40%, 45% {
      opacity: 1;
      transform: translate3d(0, -20px, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, 2000px, 0);
    }
  }
  
  
  @keyframes bounceOutUp {
    20% {
      transform: translate3d(0, -10px, 0);
    }
  
    40%, 45% {
      opacity: 1;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  }
  
  
  .up-notification {
    width: 200px;
    min-height: 140px;
    position: fixed;
    text-align: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    border-radius: 20px;
    cursor: pointer;
    z-index: 10000;
  }
  
  .bounceInRight {
    animation-name: bounceInRight;
  }
  
  .bounceInLeft {
    animation-name: bounceInLeft;
  }
  
  .bounceOutDown {
    animation-name: bounceOutDown;
  }
  
  .bounceOutUp {
    animation-name: bounceOutUp;
  }
  
  .posTopRigth {
    top: 10px;
    right: 10px;
  }
  
  .posTopLeft {
    top: 10px;
    left: 10px;
  }
  
  .posBottomRigth {
    bottom: 10px;
    right: 10px;
  }
  
  .posBottomLeft {
    bottom: 10px;
    left: 10px;
  }
  
  .up-notification {
    &.h3 {
      font-size: 1.1em;
      font-weight: bold;
    }
    &.p {
      padding: 10px;
    }
  }